---
title: About - David Moll Photo Gallery
meta_desc: A page about David Moll, and photography.
url: https://gallery.davidmoll.net
img: /images/DSC02693.jpg
alt: A Eurasian Blackcap perched on a branch
eleventyNavigation:
  key: About
  order: 2
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>Hi, I'm {{ site.author.firstName }} {{ site.author.lastName}}. I'm a novice photography and designer. This website acts as a compendium of images I've taken over the years.</p>
  <p>You can find me around the web at the following places:</p>

  <ul class="about-socials">
    {% for key, value in site.socials %}
      <li><a href="{{ value }}">{{ key | title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Current hardware</h2>
  <ul>
    <li>Camera body: Sony A6000</li>
    <li>Camera lens: Sony E 70–350 mm F4.5–6.3 G OSS</li>
    <li>Workflow: Editing in Adobe Photoshop/Camera Raw, further categorizing in XnView MP</li>
    <li>Website: Powered by Eleventy, editing using VS Code/Github, selfhosted using Nginx/Cloudflare Tunnel</li>
  </ul>


  <h2 id="contact-me">Contact</h2>
  <p>Feel free to reach out to me by social media. I usually take 24-48hrs to respond. If you think my work aligns with your projects needs, I'd love to hear from you!</p>
</div>