---
eleventyNavigation:
  key: Home
  order: 0
heading: Photo Gallery
description: A collection of recent images.
layout: main.njk
title: David Moll Photo Gallery
meta_desc: David Moll's photo gallery, made with eleventy 
url: https://eleventy-gallery.netlify.app
img: /images/DSC02693.jpg
alt: A Eurasian Blackcap perched on a branch
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "partials/home-gallery.njk" %}